
on-focus-changed = ['move-mouse window-lazy-center']

# You can use it to add commands that run after login to macOS user session.
# 'start-at-login' needs to be 'true' for 'after-login-command' to work
# Available commands: https://nikitabobko.github.io/AeroSpace/commands
after-login-command = []

# You can use it to add commands that run after AeroSpace startup.
# 'after-startup-command' is run after 'after-login-command'
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = []

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 30

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'


# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodies#disable-hide-app
automatically-unhide-macos-hidden-apps = true

# Possible values: (qwerty|dvorak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See:
#                 https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
# [gaps]
# inner.horizontal = 10
# inner.vertical = 10
# outer.left = 10
# outer.bottom = 10
# outer.top = 10
# outer.right = 10

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
# Fallback value (if you omit the key): mode.main.binding = {}
[mode.main.binding]

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
#                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
#                   backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

# All possible commands: https://nikitabobko.github.io/AeroSpace/commands

# See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
# You can uncomment the following lines to open up terminal with alt + enter shortcut
# (like in i3)
# alt-enter = '''exec-and-forget osascript -e '
# tell application "Terminal"
#     do script
#     activate
# end tell'
# '''

# See: https://nikitabobko.github.io/AeroSpace/commands#layout
alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'
# alt-f = 'fullscreen'
# ctrl-alt-f = 'macos-native-fullscreen'
# alt-shift-f = 'layout floating tiling'
#
# See: https://nikitabobko.github.io/AeroSpace/commands#focus
cmd-h = 'focus left --boundaries all-monitors-outer-frame'
cmd-j = 'focus down --boundaries all-monitors-outer-frame'
cmd-k = 'focus up --boundaries all-monitors-outer-frame'
cmd-l = 'focus right --boundaries all-monitors-outer-frame'


# ===============================
# Switch workspace
# ctrl + alt + cmd + (y u i o p t)
# ===============================
ctrl-alt-cmd-y = 'workspace Y'
ctrl-alt-cmd-u = 'workspace U'
ctrl-alt-cmd-i = 'workspace I'
ctrl-alt-cmd-o = 'workspace O'
ctrl-alt-cmd-p = 'workspace P'
ctrl-alt-cmd-t = ['workspace T', 'layout floating']


# ===============================
# Move window to workspace
# ctrl + alt + cmd + shift + (y u i o p t)
# ===============================
ctrl-alt-cmd-shift-y = 'move-node-to-workspace Y --focus-follows-window'
ctrl-alt-cmd-shift-u = 'move-node-to-workspace U --focus-follows-window'
ctrl-alt-cmd-shift-i = 'move-node-to-workspace I --focus-follows-window'
ctrl-alt-cmd-shift-o = 'move-node-to-workspace O --focus-follows-window'
ctrl-alt-cmd-shift-p = 'move-node-to-workspace P --focus-follows-window'
ctrl-alt-cmd-shift-t = 'move-node-to-workspace T --focus-follows-window'


alt-tab = 'workspace-back-and-forth'

ctrl-alt-cmd-f = 'fullscreen'

# --- Enter service mode ---
ctrl-alt-cmd-shift-semicolon = 'mode service'

# [workspace-to-monitor-force-assignment]
# 1 = 1
# 2 = 1
# 3 = [2, 1]
# 4 = [2, 1]
# 5 = [3, 1]
# 6 = [3, 2, 1]
# # 'service' binding mode declaration. See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes [mode.service.binding]
# esc = ['reload-config', 'mode main']
# r = ['flatten-workspace-tree', 'mode main'] # reset layout
# backspace = ['close-all-windows-but-current', 'mode main']
# f = [
#   'layout floating tiling',
#   'mode main',
# ] # Toggle between floating and tiling layout
#
# # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
# #s = ['layout sticky tiling', 'mode main']
# alt-shift-h = ['join-with left', 'mode main']
# alt-shift-j = ['join-with down', 'mode main']
# alt-shift-k = ['join-with up', 'mode main']
# alt-shift-l = ['join-with right', 'mode main']
#
#
[[on-window-detected]]
if.app-id = 'com.apple.finder'
run = ['layout floating']
